






.centerDiv{
  margin-top: 35px;
  height: 100px;
}



h1 {
  margin: 0;
  padding: 0;
}



.main {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 30%;
  height: 210px;
}

.specDiv{
  background-color: #4CAF50;
}

   
.overlay{ 
  position: absolute; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease; 
  height: 200px; 
  width: 200px; 
  border-radius: 25px;
  margin: 5px;
  top: 5px; 
  background-color: rgb(20, 18, 18); 
  opacity: 0;
} 

.mainCurrencyDiv:hover .overlay { 
  opacity: 0.9; 
} 

.mainCurrencyDiv {
  height: 200px;
  width: 200px;
  border-radius: 25px;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
}


#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.currencyBlock{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border-radius: 25px;
}

.currencyTitle{
  font-size: 64pt;
  color: white;
}

.currencyButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	border-radius:4px;
  background-color: rgb(43, 176, 179);
	border:2px solid #dfdfdf;
	display:inline-block;
	cursor:pointer;
	color:#eeeeee;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
}















